/* NAVIGATION */

.logo {
    margin-left: 25px;
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-6px, 3px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-4px, -1px);
}

.hamburger-menu{
    position: fixed;
    top: 2.2em;
    right: 1rem;
    color: #000;
}

.line{
    width: 30px;
    height: 3px;
    margin: 2px;
    background-color: #000;
    transition: all 0.3s ease;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;

}
.nav-links-desktop{
    display: none;
}
.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .page-nav{
    font-family: Helvetica;
    line-height: 2rem;
    width: 200px;
    position: fixed;
    top: 30%;
    left: 1rem;
}

.page-nav a{
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.page-nav li{
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    display: block;
    margin-bottom: 25px;
    border-left: 2px solid orange;

}

.page-nav li a.active{
    border-bottom: 1px solid orange;
} */


@media only screen and (min-width: 1024px) {

    .nav-links {
        display: none;
    }

    .nav-links-desktop li {
        width: auto;
        margin: 0 1% 0;
        padding: 0;
        list-style-type: none;
    }

    .nav-links-desktop li a {
        color: #000;
        text-decoration: none;
        font-size: 1.1em;
    }
    ul.nav-links-desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        margin: 0 100px 10px 0;
        min-width: 60vw;
        max-width: 70vw;
        min-height: 7vh;
    }
}



.scroller {
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 40px;
	height: 65px;
	border: 4px solid #fff;
	border-radius: 30px
}

.scroller::after {
	position: absolute;
	top: 12px;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-animation: 1200ms ease 0ms forwards infinite scroll;
	animation: 1200ms ease 0ms forwards infinite scroll;
	content: ""
}

.scroller small {
	position: absolute;
	width: 174px;
	left: -64px;
	top: -34px
}

@-webkit-keyframes scroll {
	from {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0)
	}
	to {
		-webkit-transform: translate3d(-50%, 10px, 0);
		transform: translate3d(-50%, 10px, 0);
		opacity: 0
	}
}

@keyframes scroll {
	from {
		-webkit-transform: translate3d(-50%, 0, 0);
		transform: translate3d(-50%, 0, 0)
	}
	to {
		-webkit-transform: translate3d(-50%, 10px, 0);
		transform: translate3d(-50%, 10px, 0);
		opacity: 0
	}
}

.anchors {
    padding: 0;
    margin: 0 100px 10px 0;  
    z-index: 100;
    font-family: Helvetica;
    line-height: 2.5rem;
    position: fixed;
    top: 38%;
    left: 1rem;    
    font-size: 1.4rem;
}

.anchors ul {
	margin: 0;
	padding: 0
}

.anchors ul li {
    list-style: none;    
}

.anchors ul li a {
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
}

.anchors ul li a.active::after {
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	height: 3px;
	background-color: #162133;
	content: ""
}