* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: block;
    /* overflow-y: hidden; */
    
}
.main{
display: block;
}
/* 
#countdown {
    position: absolute;
    top: 0px;
} */

.time #days, #hours, #minutes, #seconds, .divider{
    display: none;
    /* border: 1px solid #000; */
}
#days span,
#hours span,
#minutes span,
#seconds span{
    display:block;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 3s ease 2s forwards;
}
#days .days,
#hours .hours,
#minutes .minutes,
#seconds .seconds{
    font-size: 175px;
    text-align: center;
    font-family: avenir;
    font-weight: 400;
    height: 250px;
}
.time div, span{
    margin-right: 20px;
}
.top{
    background: url('bild1.jpg') no-repeat center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-weight: 600;
    font-size: 5rem;
}

.interior, .aboutus, .personalize, .conceptkey, .flying, .footer{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-weight: 600;
    font-size: 5rem;
    background-color: white;

}

/* .personalize{
    background: url('colors_black.jpg') no-repeat center;
    background-size: cover;
} */

img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
    height: 100vh;
    width: 100vw;
    display: block;
}

.last-image {
    height: 70vh;
    
    
    width: 100vw;
}

footer {
    background-color: #162133;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h2, footer p {
    color: white;
    
}

footer h2 {
    font-size: 2.5rem;
}
footer p {
    font-size: 1.5rem;
}

form {
    font-size: 2rem;
}

input[type=submit] {
    background-color: #162133;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px 40px;
}
input[type=email] {
    border-radius: 10px;
    padding: 10px 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-links {
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: space-between;
    

}

/* .dots {
    position: absolute;
    bottom: 10%;
    
} */
.dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
}

#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#black {
    background-color: black;
}
#gray {
    background-color: gray;
}
#white {
    background-color: white;
    border: 1px solid black;
}

#next-arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrowFadeOut {
    0% {
        margin-bottom: 0px;
        opacity: 1;        

    }
    100% {
        opacity: 0;
        margin-bottom: -300px;
    }
}
