@media only screen and (max-width: 600px) {
  .our-future {
    top: 8rem;
  }
}

@media only screen and (max-width: 700px) {
  footer h2 {
    font-size: 1.5rem;
  }
  footer p {
    font-size: 0.8rem;
  }
  .footer-links {
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
  }
  .footer-links a {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
  .anchors {
    display: inline-block;
  }

  .change-language {
    display: block;
  }
  .text-container {
    position: absolute;
    bottom: 25%;
    right: 55%;
  }
  .text-container h1 {
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 300;
  }
  .text-container p {
    font-family: var(--font);
    margin: 5px 0 10px 0;
    font-size: 1.4rem;
  }

  .text-container button {
    color: white;
    font-family: var(--title-font);
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #162133;
    border: none;
    width: 150px;
    height: 50px;
  }
}
