:root {
  --title-font: "Dosis", sans-serif;
  --font: "Helvetica", sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: block;
  /* overflow-y: hidden; */
}
.main {
  display: block;
}

.dot:hover {
  cursor: pointer;
}

.top {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.change-language {
  position: absolute;
  display: none;
  right: 4px;
  top: 4px;
  font-family: var(--font);
  /* remove in mobile */
}
.change-language span {
  opacity: 70%;
}
.text-container {
  position: absolute;
}

.text-container h1 {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
}
.text-container p {
  font-family: var(--font);
  margin: 5px 0 10px 0;
  font-size: 1rem;
}

.text-container button {
  color: white;
  font-family: var(--title-font);
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #162133;
  border: none;
  width: 100px;
  height: 30px;
}
.interior,
.aboutus,
.personalize,
.conceptkey,
.flying,
.footer,
.specs {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.flying {
  flex-direction: column;
  position: relative;
}

.our-future {
  position: absolute;
  top: 4rem;
  width: 30%;
  max-width: width 700px;
  min-width: 300px;
}

.our-future {
  text-align: center;
  font-family: var(--font);
}

.our-future span {
  font-weight: bold;
  font-size: 1.1rem;
}

img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aboutus-img {
  height: 75vh;
  width: 100vw;
}
.our-story {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
}
.our-story h3 {
  font-family: var(--title-font);
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: 300;
}

.our-story p {
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
}
.our-story span {
  font-weight: bold;
}

.footer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.last-image {
  height: 70vh;
  width: 100vw;
}

footer {
  background-color: #162133;
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}

footer h2,
footer p {
  color: white;
}

footer h2 {
  font-size: 2.5rem;
  font-family: var(--title-font);
  font-weight: 300;
}
footer p {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-family: var(--font);
}

form {
  font-size: 1.5rem;
  font-family: var(--title-font);
}

input[type="submit"] {
  background-color: #162133;
  border-radius: 0 10px 10px 0;
  border: 1px solid white;
  color: white;
  padding: 10px 40px;
}
input[type="email"] {
  border-radius: 10px 0 0 10px;
  border: 1px solid white;
  padding: 10px 10px;
  outline: none;
}

#subheader {
  text-align: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  overflow: visible;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--title-font);
}
.mobile-row {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
#footer-top-row {
  width: 58%;
}
#footer-bottom-row {
  width: 42%;
}

.footer-links {
  display: flex;
  height: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: flex-end;
  width: 75%;
  max-width: 1500px;
}

.dots {
  display: none;
  position: absolute;
  bottom: 10%;
}
.dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#black {
  background-color: black;
}
#grey {
  background-color: grey;
}
#white {
  background-color: white;
  border: 1px solid black;
}

#next-arrow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  opacity: 1;
  animation: arrowFadeOut 2.5s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrowFadeOut {
  0% {
    bottom: 0px;
  }
  40% {
    bottom: 20px;
  }
  60% {
    bottom: 5px;
  }
  80% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
